{% extends 'base.html.twig' %}
{% block title %}Ma wishlist{% endblock %}
{% block content %}
<div class="page-header">
    <h1>Ma wishlist</h1>
</div>
{% if offers %}
<div class="offers-grid">
    {% for offer in offers %}
        {% include 'components/offer_card.html.twig' with { offer: offer } %}
    {% endfor %}
</div>
{% else %}
<div class="content-card">
    <p>Tu n'as pas encore d'offres en favoris.</p>
</div>
{% endif %}
{% endblock %}