{% extends 'base.html.twig' %}
{% block title %}
    Modifier un pilote
{% endblock %}
{% block content %}
    <form method="post">
        <label for="nom">nom:</label>
        <input type="text" id="nom" name="nom" 
            value="{{ pilot.nom }}" required>

        <label for="prenom">prénom:</label>
        <input type="text" id="prenom" name="prenom" 
            value="{{ pilot.prenom }}" required>

        <label for="email">email:</label>
        <input type="email" id="email" name="email" 
           value="{{ pilot.email }}" required>

        <label for="mot_de_passe">mot de passe:</label>
        <input type="password" id="mot_de_passe" name="mot_de_passe"
            placeholder="laisser vide pour ne pas modifier">

        <button type="submit"> creer </button>
    </form>
{% endblock %}