{% extends 'base.html.twig' %}
{% block title %}
    Pilotes
{% endblock %}
{% block content %}
    <div>
        <p>{{ pilot.prenom }} {{ pilot.nom }}</p>
        <p>{{ pilot.email }}</p>
    </div>
{% endblock %}