<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Stagium - {% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Acceuil</a></li>
                <li><a href="/offers">Offres de stage</a></li>
            </ul>
        </nav>
        {% if is_logged_in %}
            {{ user_name }} <a href="/logout">Déconnexion</a>
        {% else %}
            <a href="/login">Connexion</a>
        {% endif %}
    </header>
    {% block content %}{% endblock %}
</body>
</html>
