<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://assets.stagium.fr/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <title>Stagium - {% block title %}{% endblock %}</title>
</head>
<body>
    <header class="header">
        <a href="/" class="header__logo"><img src="http://assets.stagium.fr/img/logo.svg" alt="Logo Stagium"></a>

        <nav class="header__nav">
            <ul>
                <li><a href="/">Acceuil</a></li>
                <li><a href="/offers">Offres de stage</a></li>
            </ul>
        </nav>
        <div class="header__actions">
        {% if is_logged_in %}
            {{ user_name }} <a href="/logout">Déconnexion</a>
        {% else %}
            <a href="/login">Connexion</a>
        {% endif %}
        </div>
    </header>
    {% block content %}{% endblock %}
</body>
</html>
