<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Stagium - {% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Acceuil</a></li>
                <li><a href="/offers">Offres de stage</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}{% endblock %}
</body>
</html>
