{% extends 'base.html.twig' %}
{% block title %}
    Login
{% endblock %}
{% block content %}
{% if error %}
    <p>{{ error }}</p>
{% endif %}
    <form action="/login" method="post">
        <label for="email">email:</label>
        <input type="email" id="email" name="email" 
            placeholder="a@a.a" required>

        <label for="mot_de_passe">mot de passe:</label>
        <input type="password" id="mot_de_passe" name="mot_de_passe" 
            placeholder="mdp" required>

        <button type="submit"> login </button>
    </form>
{% endblock %}